# Virtual environment
venv/
.env/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# IDE files
.vscode/
.idea/

# Media files
*.mp4
*.mp3

# Jupyter checkpoints
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db
